@import url('https://fonts.googleapis.com/css?family=Raleway');

$darkest:rgb(0,
0,
0);
$dark:rgb(75,
75,
75);
$medium:rgb(150,
150,
150);
$light:rgb(200,
200,
200);
$lightest:rgb(255,
255,
255);
$online:rgb(0,
255,
0);
$neon_blue:rgb(76,
247,
219);


body {
    color: $lightest;
    display: flex;
    justify-content: center;
    background: url('background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

img {
    width: 75px;
    height: 100%;
    float: left;
}

#module {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba($medium, 0.4);
    width: 375px;
    border-radius: 0.5em;
}

#banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Raleway;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

#name {
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Raleway;
}

a {
	border-style: solid;
	border-width: 1px;
	border-color: $neon_blue;
	color: white;
    &:link {
        color: white;
        text-decoration: None;
    }
    &:visited {
        color: white;
        text-decoration: None;
    }
    &:hover {
        color: white;
        text-decoration: None;
    }
    &:active {
        color: white;
        text-decoration: None;
    }
}


.caster {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 75px;
    border-style: solid;
    border-width: 1px;
}

.limit {
    border-style: solid;
    background-color: black;
    border-radius: 0.2em;
    &:hover {
        color: yellow;
    }
}

.online #name {
    background: blue;
    color: $online;
}
