// ----
// Sass (v3.4.21)
// Compass (v1.0.3)
// ----

// Google Fonts
@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,700,900');

// Color palette
$darkest: #0a1612;
$dark: #1a2930;
$medium: #29414c;
$light: #f7ce3e;
$lightest: #c5c1c0;

// Utility functions & mixins
@function with_pad($n) {
    @return $n * 1.05;
}

@mixin scrimGradient($startColor: 'black', $stopColor: 'white', $direction: 'to bottom') {
  $scrimCoordinates: (
    0: 1,
    19: 0.738,
    34: 0.541,
    47: 0.382,
    56.5: 0.278,
    65: 0.194,
    73: 0.126,
    80.2: 0.075,
    86.1: 0.042,
    91: 0.021,
    95.2: 0.008,
    98.2: 0.002,
    100: 0
  );
  $hue: hue($startColor);
  $saturation: saturation($startColor);
  $lightness: lightness($startColor);
  $stops: ();
  @each $colorStop, $alphaValue in $scrimCoordinates {
    // $stop: mix($startColor, $stopColor, ($weight * 100));
    $stop: hsla($hue, $saturation, $lightness, $alphaValue) percentage($colorStop/100);
    $stops: append($stops, $stop, comma);
  }

  background: $stopColor linear-gradient(unquote($direction), $stops);
}

// --- STYLE --- //
$text_color: $light;
body {
    @include scrimGradient(lighten($medium, 20%), darken($dark, 20%), -45deg);
    // background: linear-gradient(-45deg, lighten($medium, 10%), darken($dark, 15%));
    // background: #092756;
    // background: -moz-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%),-moz-linear-gradient(top, rgba(57,173,219,.25) 0%, rgba(42,60,87,.4) 100%), -moz-linear-gradient(-45deg, #670d10 0%, #092756 100%);
    // background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -webkit-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -webkit-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    // background: -o-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -o-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -o-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    // background: -ms-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), -ms-linear-gradient(top, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), -ms-linear-gradient(-45deg, #670d10 0%,#092756 100%);
    // background: -webkit-radial-gradient(0% 100%, ellipse cover, rgba(104,128,138,.4) 10%,rgba(138,114,76,0) 40%), linear-gradient(to bottom, rgba(57,173,219,.25) 0%,rgba(42,60,87,.4) 100%), linear-gradient(135deg, #670d10 0%,#092756 100%);
    background-size: 200% 200%;
    animation: bg-fx 90s ease infinite;
    font-family: Raleway, serif;
    color: $text_color;
    a {
        color: $text_color;
        &:visited {
            color: darken(desaturate($text_color, 5%), 5%);
        }
        &:hover {
            color: lighten(saturate($text_color, 15%), 10%);
        }
        &:active {
            color: lighten(saturate($text_color, 15%), 10%);
        }
}}

@keyframes bg-fx {
    0% {
        background-position: 100% 50%;
    }
    50% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}

section {
    text-align: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

// $text_color: $light;
// #intro {
//     color: $text_color;
//     a {
//         color: $text_color;
//         &:visited {
//             color: darken(desaturate($text_color, 5%), 5%);
//         }
//         &:hover {
//             color: lighten(saturate($text_color, 15%), 10%);
//         }
//         &:active {
//             color: lighten(saturate($text_color, 15%), 10%);
//         }
//     }
// }

.signature {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}

.name {
    font-size: 2.25em;
}

$font-size: 1.87;
.title {
    font-size: $font-size+em;
    line-height: with_pad($font-size)+em;
}

// Fancy "Download Resume" Button
$anim-text-offset: 1em;

.resume {
    touch-callout: none;
    user-select: none;
    display: inline-block;
    border: .2em solid;
    margin-top: 1em;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    opacity: 0.6;
    color: $light;
    &__text {
        display: block;
        padding: 1em 2em;
        text-transform: uppercase;
        font-family: 'Work Sans', sans-serif;
        font-weight: bold;
        &:before {
            content: attr(title);
        }
        &--bis {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            transform: translateX(-1 * $anim-text-offset);
            opacity: 0;
        }
    }
    &__mask {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: $light;
        transform: translateX(-100%) rotate(45deg);
        transition: all 0.3s;
    }
}

.resume:hover {
    opacity: 1;
    .resume__text {
        animation: fx-text .3s ease-out;
        &--bis {
            animation: fx-text-bis .3s ease-out;
        }
    }
    .resume__mask {
        animation: fx-mask .3s ease-out;
    }
}

.resume:active {
    opacity: 1;
    background: $light;
    color: darken($dark, 10%);
}

@keyframes fx-mask {
    0% {
        transform: translateX(-100%) rotate(45deg);
    }
    100% {
        transform: translateX(100%) rotate(45deg);
    }
}

@keyframes fx-text {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX($anim-text-offset);
        opacity: 0;
    }
}

@keyframes fx-text-bis {
    0% {
        transform: translateX(-1 * $anim-text-offset);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

// Arrow positioning
$vertical_arrow_spacing: 10vh;
$horizontal_arrow_spacing: 10vw;

%arrow {
    position: absolute;
    font-size: 2em;
}

.arrow {
    &__up {
        @extend %arrow;
        top: $vertical_arrow_spacing;
    }
    &__down {
        @extend %arrow;
        bottom: $vertical_arrow_spacing;
    }
    &__left {
        @extend %arrow;
        left: $horizontal_arrow_spacing;
    }
    &__right {
        @extend %arrow;
        right: $horizontal_arrow_spacing;
    }
}

.box_titles {
  font-size: 2em;
  line-height: with_pad(2)+em;
}

.text_box {
  background: linear-gradient($lightest, darken($lightest, 20%));
  color: $dark;
  height: auto;
  width: 50%;
  vertical-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 1em;
  padding: 0.5em;
}

#technical_skills {
  align-items: center;
}

.headshot {
  max-width: 10em;
  border-radius: 100%;
}

#skill_bars {
  width: 30%;
}

.progressbar {
    margin-top: 1%;
    margin-bottom: 1%;
    overflow: auto;
    background: linear-gradient($lightest, darken($lightest, 25%));
    text-align: center;
    vertical-align: middle;
    border-radius: 0.2em;
}

.bar {
    width: 1%;
    height: 1.2em;
    background: linear-gradient(darken($light, 20%), lighten($light, 10%));
    display: block;
    color: $dark;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    border-radius: 0.2em;

