@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");
body {
  background: black linear-gradient(-45deg, #4d7a8e 0%, rgba(77, 122, 142, 0.738) 19%, rgba(77, 122, 142, 0.541) 34%, rgba(77, 122, 142, 0.382) 47%, rgba(77, 122, 142, 0.278) 56.5%, rgba(77, 122, 142, 0.194) 65%, rgba(77, 122, 142, 0.126) 73%, rgba(77, 122, 142, 0.075) 80.2%, rgba(77, 122, 142, 0.042) 86.1%, rgba(77, 122, 142, 0.021) 91%, rgba(77, 122, 142, 0.008) 95.2%, rgba(77, 122, 142, 0.002) 98.2%, rgba(77, 122, 142, 0) 100%);
  font-family: Raleway, serif;
  color: #f7ce3e; }
  body a {
    color: #f7ce3e; }
    body a:visited {
      color: #f0c52b; }
    body a:hover {
      color: #ffde69; }
    body a:active {
      color: #ffde69; }

body::after {
  content: "";
  background: url("media/gplay-texture.png");
  opacity: 0.15;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; }

@keyframes bg-fx {
  0% {
    background-position: 100% 50%; }
  50% {
    background-position: 0% 50%; }
  100% {
    background-position: 100% 50%; } }
.section {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.section,
.slide {
  background-size: cover; }

.signature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%; }

.name {
  font-size: 2.25em; }

.column {
  display: flex;
  flex-direction: column;
  justify-contents: space-around;
  align-items: space-around; }

.fa,
.fas,
.fab,
.name,
.title,
.box_titles,
.arrow__up,
.arrow__down,
.arrow__left,
.arrow__right {
  text-shadow: 5px 5px 10px black; }

.title {
  font-size: 1.87em;
  line-height: 1.9635em; }

.fancy_resume {
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  border-radius: 500px;
  margin-top: 3em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #f7ce3e; }
  .fancy_resume__text {
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold; }
    .fancy_resume__text:before {
      content: attr(title); }
    .fancy_resume__text--bis {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-1em);
      opacity: 0; }
  .fancy_resume__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7ce3e;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s; }

.fancy_resume:hover {
  opacity: 1; }
  .fancy_resume:hover .fancy_resume__text {
    animation: fx-text .3s ease-out; }
    .fancy_resume:hover .fancy_resume__text--bis {
      animation: fx-text-bis .3s ease-out; }
  .fancy_resume:hover .fancy_resume__mask {
    animation: fx-mask .3s ease-out; }

.fancy_resume:active {
  opacity: 1;
  background: #f7ce3e;
  color: #080d0f; }

@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg); }
  100% {
    transform: translateX(100%) rotate(45deg); } }
@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(1em);
    opacity: 0; } }
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.middle_row {
  display: flex;
  flex-direction: row;
  align-self: center;
  justify-content: center;
  align-items: center; }

.middle_col {
  display: flex;
  flex-direction: column;
  align-self: center;
  justify-content: center;
  align-items: center; }

#contact_icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; }
  #contact_icons a {
    text-decoration: none !important; }

.contact {
  border-radius: 0.4em;
  width: 7em;
  padding: 0.3em 0.6em 0.6em 0.3em;
  margin: 0.5em;
  text-align: center; }
  .contact * {
    text-align: center;
    text-decoration: none;
    padding: 0em, 0.1em, 0.1em, 0em; }
  .contact:hover {
    background: #f7ce3e linear-gradient(60deg, #dfb009 0%, rgba(223, 176, 9, 0.738) 19%, rgba(223, 176, 9, 0.541) 34%, rgba(223, 176, 9, 0.382) 47%, rgba(223, 176, 9, 0.278) 56.5%, rgba(223, 176, 9, 0.194) 65%, rgba(223, 176, 9, 0.126) 73%, rgba(223, 176, 9, 0.075) 80.2%, rgba(223, 176, 9, 0.042) 86.1%, rgba(223, 176, 9, 0.021) 91%, rgba(223, 176, 9, 0.008) 95.2%, rgba(223, 176, 9, 0.002) 98.2%, rgba(223, 176, 9, 0) 100%);
    color: #1a2930;
    text-decoration: none; }

.work_ethic {
  background-image: url("media/book_and_glasses.jpeg"); }

/*# sourceMappingURL=style.css.map */
