@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url("https://fonts.googleapis.com/css?family=Work+Sans:400,700,900");
body {
  background: #29414c;
  font-family: Raleway, serif; }

section {
  text-align: center;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative; }

.intro {
  background: #1a2930;
  color: #f7ce3e; }
  .intro a {
    color: #f7ce3e; }
    .intro a:visited {
      color: #f0c52b; }
    .intro a:hover {
      color: #ffde69; }
    .intro a:active {
      color: #ffde69; }

.signature {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%; }

.name {
  font-size: 2.25em; }

.title {
  font-size: 1.87em;
  line-height: 1.9635em; }

.resume {
  touch-callout: none;
  user-select: none;
  display: inline-block;
  border: .2em solid;
  margin-top: 1em;
  position: relative;
  cursor: pointer;
  overflow: hidden;
  opacity: 0.6;
  color: #f7ce3e; }
  .resume__text {
    display: block;
    padding: 1em 2em;
    text-transform: uppercase;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold; }
    .resume__text:before {
      content: attr(title); }
    .resume__text--bis {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      transform: translateX(-1em);
      opacity: 0; }
  .resume__mask {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #f7ce3e;
    transform: translateX(-100%) rotate(45deg);
    transition: all 0.3s; }

.resume:hover {
  opacity: 1; }
  .resume:hover .resume__text {
    animation: fx-text .3s ease-out; }
    .resume:hover .resume__text--bis {
      animation: fx-text-bis .3s ease-out; }
  .resume:hover .resume__mask {
    animation: fx-mask .3s ease-out; }

.resume:active {
  opacity: 1;
  background: #f7ce3e;
  color: #080d0f; }

@keyframes fx-mask {
  0% {
    transform: translateX(-100%) rotate(45deg); }
  100% {
    transform: translateX(100%) rotate(45deg); } }
@keyframes fx-text {
  0% {
    transform: translateX(0);
    opacity: 1; }
  100% {
    transform: translateX(1em);
    opacity: 0; } }
@keyframes fx-text-bis {
  0% {
    transform: translateX(-1em);
    opacity: 0; }
  100% {
    transform: translateX(0);
    opacity: 1; } }
.arrow__up, .arrow__down, .arrow__left, .arrow__right {
  position: absolute;
  font-size: 2em; }

.arrow__up {
  top: 10vh; }
.arrow__down {
  bottom: 10vh; }
.arrow__left {
  left: 10vw; }
.arrow__right {
  right: 10vw; }

.about_me {
  background: #c5c1c0;
  color: #1a2930; }
  .about_me a {
    color: #1a2930; }
    .about_me a:visited {
      color: #121a1e; }
    .about_me a:hover {
      color: #23495a; }
    .about_me a:active {
      color: #23495a; }

/*# sourceMappingURL=style.css.map */
